.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  .login-card {
    width: 300px;
    padding: 1em;
    min-width: 250px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 15px;
    height: 600px;
  }
}


ion-title {
  padding-bottom: 15px;
  padding-left: 0;
}

.form-card {
  transform: translateX(0px);
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 15px;
  padding: 1em;
  background-color: rgb(18, 24, 27);

  label {
    padding: 5px 0;
    font-size: 70%;
  }

  ion-button {
    width: 120px;
  }
}


//bg animated

#logo {
  margin-bottom: 1em;
  width: 100px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #021027;
}

ion-input {
  font-size: 85%;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  /*
  mask-image: radial-gradient(white 0%,
      white 30%,
      transparent 80%,
      transparent);
    }
  */
  .circle-container {
    $particleNum: 200;
    $particleColor: hsl(180, 100%, 80%);

    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .circle {
      width: 100%;
      height: 100%;
      mix-blend-mode: screen;
      // background-image: radial-gradient(hsl(180, 100%, 80%),
      //     hsl(180, 100%, 80%) 10%,
      //     hsla(180, 100%, 80%, 0) 56%);

      animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

      @keyframes fade-frames {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }

      @keyframes scale-frames {
        0% {
          transform: scale3d(0.4, 0.4, 1);
        }

        50% {
          transform: scale3d(2.2, 2.2, 1);
        }

        100% {
          transform: scale3d(0.4, 0.4, 1);
        }
      }
    }

    $particleBaseSize: 8;

    @for $i from 1 through $particleNum {
      &:nth-child(#{$i}) {
        $circleSize: random($particleBaseSize);
        width: $circleSize + px;
        height: $circleSize + px;

        $startPositionY: random(10)+100;
        $framesName: "move-frames-"+$i;
        $moveDuration: 28000+random(9000)+ms;

        animation-name: #{$framesName};
        animation-duration: $moveDuration;
        animation-delay: random(37000) + ms;

        @keyframes #{$framesName} {
          from {
            transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
          }

          to {
            transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
          }
        }

        .circle {
          animation-delay: random(4000) + ms;
        }
      }
    }
  }

  .message {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    line-height: 27px;
    font-size: 18px;
    text-align: right;
    pointer-events: none;
    animation: message-frames 1.5s ease 5s forwards;
    opacity: 0;
    margin-bottom: 2em;
    margin-right: 2em;

    @keyframes message-frames {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  .message {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 1em;
    color: rgb(255, 255, 255);
    border-radius: 15px;
  }

  .company-name {
    transform: translateX(-2em);
    transform: translateY(-2em);
  }

  #company-name {
    display: inline-block;
    color: white;
    background-color: #3880ff;
    padding: 0.5em;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 40px;

  }
}


#container-container-form {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-left: 0;
}
