<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>
        <ion-label class style="display: flex; align-items: center; color: white;">
          Stage MAP
          <ion-icon name="map-outline" style="margin-left: 5px;"></ion-icon>
        </ion-label>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <agm-map
    style="height: 100%;"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">
    <agm-marker
      [latitude]="lat"
      [longitude]="lng">
    </agm-marker>
  </agm-map>
</ion-content>



